.cards__item {
  width: 240px;
  display: flex;
  flex-direction: column;
  padding-top: 60px;
  margin-left: 0;
  margin-right: 100px;
  align-items: center;

}
.cards__item:nth-child(3) {
  margin-right: 0;

}
